<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <mapping class="com.filippov.messenger.dao.contact.Contact"/>
        <mapping class="com.filippov.messenger.dao.message.Message"/>
        <mapping class="com.filippov.messenger.dao.user.User"/>
    </session-factory>

</hibernate-configuration>